header{
    display: flex;
background-color: rgb(183, 161, 161);
height: 80px;
align-items: center;
}

.titre{
    width: 20%;
    display: flex;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    column-gap: 15px;
    width: 100%;
    
}
ul li{
    list-style: none;
}

li {
    text-decoration: none;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    color: black;
}


.Link{
    text-decoration: none;
}