header {
  display: flex;
  background-color: #fcbf49;
  height: 80px;
  align-items: center;
  border-bottom: 2px solid black;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 1000;
 
}

.titre {
  width: 20%;
  display: flex;
  justify-content: center;
  font-family: "Libre Baskerville", serif;
}

ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  column-gap: 15px;
  width: 100%;
}
ul li {
  list-style: none;
}

li {
  text-decoration: none;
  color: black;
  font-family: "Libre Baskerville", serif;
}

header p {
  color: black;
}

.Link {
  text-decoration: none;
}
